.header__nav {
  background-image: none;
}
.header__nav ul {
  display: flex;
  justify-content: space-around;
}
.main__section {
  justify-content: space-between;
}
.main__section--container {
  display: flex;
  justify-content: center;
  width: 50%;
}
.main__section--hero {
  width: 50%;
  background-image: url("../assets/perfil.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position-y: 90px;
}
.main__section2 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "photo about colaborate";
}
.main__section3 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "services desing suport"
    ". profile repair";
}
.main__section4 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "info portafolio1"
    ". portafolio2";
}
.main__section4--portafolio {
  align-self: center;
  grid-area: info;
}
.main__section4--portafolio1 {
  grid-area: portafolio1;
}
.main__section4--portafolio2 {
  grid-area: portafolio2;
}
.section4--portafolio2__image img {
  width: 400px;
}
